Quora question pair similarity, you need to find the Similarity between two
questions by mapping the words in the questions using TF-IDF, and using a supervised
Algorithm you need to find the similarity between the questions.
Dataset This is the Dataset You can use this dataset for this question.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('train.csv')
data.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [3]:
test = pd.read_csv('test.csv')
test.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3563475 entries, 0 to 3563474
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   test_id    object
 1   question1  object
 2   question2  object
dtypes: object(3)
memory usage: 81.6+ MB

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [6]:
#checking for null values
data.isnull().sum()

id              0
qid1            0
qid2            0
question1       1
question2       2
is_duplicate    0
dtype: int64

In [7]:
# Remove any NaN values
data = data.dropna()
test = test.dropna()

In [8]:
train = data[['question1','question2']]
y = data['is_duplicate']

In [9]:
# TFIDF Vectorization
vectorizer = TfidfVectorizer()
train_vec = vectorizer.fit_transform(train['question1'] + ' ' + train['question2'])
test_vec = vectorizer.transform(test['question1'] + ' ' + test['question2'])

In [10]:
# Logistic Regression
model = LogisticRegression()
model.fit(train_vec, y)
model.score(train_vec,y)

0.7747318118069589

In [11]:
y_pred_train = model.predict(train_vec)

In [12]:
# Training classification
print(classification_report(y,y_pred_train))

              precision    recall  f1-score   support

           0       0.79      0.88      0.83    255024
           1       0.75      0.59      0.66    149263

    accuracy                           0.77    404287
   macro avg       0.77      0.74      0.75    404287
weighted avg       0.77      0.77      0.77    404287

In [13]:
# Making Predictions
model.predict(test_vec)

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)